<td>
<%= check_box_tag :group_permission, 1, group_permissions.include?({group.id => permission}), 
      :id => "#{group.name}_#{permission}",
      :'data-url' => group_permission_path(:group_id => group.id, :permission => permission)
-%>
<%= indicator_tag "#{group.name}_#{permission}" %>
</td>
