<td>
  <%= check_box_tag(:user_group, 1, user.in_group?(group.name), 
        :id => "user_#{user.id}_group_#{group.id}",
        :'data-url' => update_user_group_path(user.id, group.id))
  %>
  <%= indicator_tag "user_#{user.id}_group_#{group.id}" %>
</td>
