%h1 Editing forward_port

= form_for :forward_port, :url => router_forward_port_path(@forward_port), :html => {:method => :put} do |f|
  = render 'form', :f => f

= link_to 'Show', router_forward_port_path(@forward_port)
\|
= link_to 'Back', router_forward_ports_path
