body { background-color: #fff; color: #332409; }

body, p, ol, ul, li, table, td, th {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

body .main_menu, .main_content {
  float: left;
  padding: 4px;
  margin: 4px;
}

body input, textarea, select {
  border: 1px solid #847A67;
}

.main_content {
  width: 80%;
}

.main_menu ul {
  padding: 0 18px 0 0;
  list-style-type: none;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #332409; }
a:visited { color: #332409; }
a:hover { color: #fff; background-color:#332409; }

.main_content p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.main_content table {
  border-collapse: collapse;
  botder-spacing: 0;
  border: 1px solid #847A67;
}

table td, th {
  padding: 0 4px 0 4px;
}

table th {
  background-color: #504634;
  color: #d4cab6;
}

table th.p_name {
  width: 160px;
}

table td {
  border-top: 1px solid #847A67;
  text-align: left;
  background-color: #d4cab6;
}

table td.action_links {
/*  border-top: none; */
  text-align: right;
  padding-right: 2px;
  background-color: #e4dac6;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}
