%h1 Editing router_open_port

= form_for :open_port, :url => router_open_port_path(@open_port), :html => {:method => :put} do |f|
  = render 'form', :f => f

= link_to 'Show', router_open_ports_path(@open_port)
\|
= link_to 'Back', router_open_ports_path
