development:
  adapter: mysql
  database: rlms_development
  username: jacek
  password: 

test:
  adapter: mysql
  database: rlms_test
  username: jacek
  password: 

production:
  adapter: mysql
  database: rlms_development
  username: jacek
  password: 
