development:
  adapter: mysql
  database: rlms_development
  username: jacek
  password: jacek81

test:
  adapter: mysql
  database: rlms_test
  username: jacek
  password: jacek81

production:
  adapter: mysql
  database: rlms_development
  username: jacek
  password: jacek81
