@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 50px;
}

.page-header {
  font-size: 26px;
  margin: 20px 0px 10px 0px;
}

/* table */
.std {
  @extend .table;
  @extend .table-striped;
  @extend .table-hover;
}

.torrent-items {
  @extend .std;
}

/* forms */

.simple_form {
  @extend .form-horizontal;
  @extend .well;
  @extend .col-lg-8;
}
